<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifeng.vdn.dashboard.orm.mybatis.mapper.DashboardApplicationConfigurationMapper">
	
	<cache />

	<select id="loadVariablesByRefkey" parameterType="string" resultType="globalVariables">
		SELECT 
		  `ID`,
		  `VAR_NAME`,
		  `VAR_VAL`,
		  `VAR_REF`,
		  `VAR_LABEL`,
		  `VAR_DESC`,
		  `CREATE_TIME`,
		  `OPERATOR`,
		  `DATA_STATUS`,
		  `LATEST_TIME` 
		FROM
		  `vdn_dashboard`.`VDN_GLOBAL_VARIABLES` v
		
		WHERE v.`VAR_REF` = #{key}
	
	</select>

</mapper>