<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifeng.vdn.dashboard.orm.mybatis.mapper.IPServerMapper">
	
	<cache />

	<insert id="create" parameterType="serverJournal">
		INSERT INTO  `VDN_IPSERVER_JOURNAL` (
		  `IP`,
		  `LIVE_TOTAL`,
		  `REQUEST_TOTAL`,
		  `VIDEO_TOTAL`,
		  `TOTAL`,
		  `PLAY_WAY`,
		  `CREATE_TIME`,
		  `DATA_STATUS`,
		  `LATEST_TIME`
		) 
		VALUES
		  (
		    #{ip},
		    #{live_total},
		    #{request_total},
		    #{video_total},
		    #{total},
		    #{play_way},
			#{create_time},
			#{data_status},
			#{latest_time}
		  ) ;
				
	</insert>

	<select id="read" parameterType="serverJournalModel" resultType="serverJournal">
		SELECT 
		  `ID`,
		  `IP`,
		  `LIVE_TOTAL`,
		  `REQUEST_TOTAL`,
		  `VIDEO_TOTAL`,		  
		  `TOTAL`,
		  `PLAY_WAY`,
		  `CREATE_TIME`,
		  `DATA_STATUS`,
		  `LATEST_TIME` 
		FROM
		  `VDN_IPSERVER_JOURNAL`
		  
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="ip != null and ip != '' and inner_ip != null and inner_ip != ''">
				`IP` in (#{ip} , #{inner_ip})
			</if>
		
			<if test="start_time != null">
				AND `CREATE_TIME` &gt;= #{start_time}
			</if>
			<if test="end_time != null">
				AND `CREATE_TIME` &lt;= #{end_time}
			</if> 
		</trim>
		  
	</select>
	
	<select id="getJournalSummary" parameterType="serverJournalModel" resultType="serverJournal">
		SELECT 
		  SUM(v.total) AS TOTAL,
		  SUM(v.`REQUEST_TOTAL`) AS REQUEST_TOTAL,
		  SUM(v.`LIVE_TOTAL`) AS LIVE_TOTAL,
		  SUM(v.`VIDEO_TOTAL`) AS VIDEO_TOTAL,
		  v.`CREATE_TIME` 
		FROM
		  `VDN_IPSERVER_JOURNAL` v 

		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="start_time != null">
				v.`CREATE_TIME` &gt;= #{start_time}
			</if>
			<if test="end_time != null">
				AND v.`CREATE_TIME` &lt;= #{end_time}
			</if> 
		</trim>

		GROUP BY v.`CREATE_TIME`
		
		ORDER BY v.`CREATE_TIME`
	</select>
	

</mapper>