<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifeng.vdn.dashboard.orm.mybatis.mapper.VideoReportMapper">
	
	<cache />

	<select id="getAvlbDaily" parameterType="avlbDailyModel" resultType="avlbDailyModel">
		SELECT 
		  N.`TOTAL` AS numerator,
		  D.`TOTAL` AS denominator,
		  D.`CT`,
		  N.`TOTAL` / D.`TOTAL` AS avlb 
		FROM
		  (SELECT 
		    a.* 
		  FROM
		    `VDN_AVLB_DAILY` a 
		  WHERE a.`ERR` = '303000') N,
		  (SELECT 
		    b.* 
		  FROM
		    `VDN_AVLB_DAILY` b 
		  WHERE b.`ERR` = '208000') D 
		  
		WHERE N.`CT` = D.`CT` 
		
		ORDER BY `CT` ASC
	</select>

	<select id="getAvlbMinutely2" parameterType="avlbMinutelyModel" resultType="avlbMinutelyModel">
		SELECT DISTINCT
		  N.`TOTAL` AS numerator,
		  D.`TOTAL` AS denominator,
		  N.`CT`,
		  N.`TR`,
		  N.`TOTAL` / D.`TOTAL` AS avlb 
		FROM
		  (SELECT 
		    a.* 
		  FROM
		    `VDN_AVLB_MINUTELY` a 
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="nCode != null and nCode != ''">
				a.`ERR` = #{nCode}
			</if>
			<if test="daily != null">
				AND a.`CT` IN 
				<foreach collection="daily" item="ct" open="(" separator="," close=")">
					#{ct} 
				</foreach>
			</if>
		</trim>			    
		     ORDER BY a.`CT` DESC, a.`TR` ASC  ) N,
		  (SELECT 
		    b.* 
		  FROM
		    `VDN_AVLB_MINUTELY` b 
		    
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="dCode != null and dCode != ''">
				b.`ERR` = #{dCode}
			</if>
			<if test="daily != null">
				AND b.`CT` IN 
				<foreach collection="daily" item="ct" open="(" separator="," close=")">
					#{ct} 
				</foreach>
			</if>
		</trim>		    
		    
		    ORDER BY b.`CT` DESC, b.`TR` ASC) D 
		WHERE N.`CT` = D.`CT` 
		  AND N.`TR` = D.`TR` 
		ORDER BY N.`CT` DESC, N.`TR` ASC 
	</select>

	<select id="getAvlbMinutely" parameterType="avlbMinutelyModel" resultType="avlbMinutelyModel">
		SELECT 
		  `NUMERATOR`,
		  `DENOMINATOR`,
		  `CT`,
		  `TR`,
		  `NUMERATOR`/`DENOMINATOR` AS `AVLB` 
		FROM
		  `VDN_AVLB_MINUTELY_REPORT`
		  
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="daily != null">
				`CT` IN 
				<foreach collection="daily" item="ct" open="(" separator="," close=")">
					#{ct} 
				</foreach>
			</if>
		</trim>	
		 ORDER BY `CT` DESC, `TR` ASC
		 
		 LIMIT #{start}, #{limit}
	</select>
	
	<select id="getAvlbMinutelyTotal" parameterType="avlbMinutelyModel" resultType="long">
		SELECT COUNT(*) 
		FROM
		  `VDN_AVLB_MINUTELY_REPORT`
		  
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="daily != null">
				`CT` IN 
				<foreach collection="daily" item="ct" open="(" separator="," close=")">
					#{ct} 
				</foreach>
			</if>
		</trim>		
	</select>
	
	<select id="getFluentMinutely" parameterType="fluentMinutelyModel" resultType="fluentMinutelyModel">
		select 
		  `T0`,
		  `T1`,
		  `T2`,
		  `T3`,
		  `T4`,
		  t1/t0 as k1,
		  t2/t0 as k2,
		  t3/t0 as k3,
		  t4/t0 as k4,
		  `CT`,
		  `TR` 
		from
		  `VDN_FLUENT_MINUTEL_REPORT` 	
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="daily != null">
				`CT` IN 
				<foreach collection="daily" item="ct" open="(" separator="," close=")">
					#{ct} 
				</foreach>
			</if>
		</trim>	
		 ORDER BY `CT` DESC, `TR` ASC	
	</select>

	<select id="getAvlb" parameterType="avlbMinutelyModel" resultType="avlbMinutelyModel">
		SELECT a.isp, a.err, b.err, a.total AS numerator, b.total denominator, a.total/b.total as avlb, a.ct, a.tr FROM (SELECT v.`ERR`, v.`ISP`, v.`CT`, v.`TR`, SUM(v.`TOTAL`) AS total FROM `VDN_AVLB_MINUTELY_FULLY` v
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="nCode != null and nCode != ''">
				v.`ERR` = #{nCode}
			</if>
			
			<include refid="GETAVLB_WHERE_CONDITION" />								
		</trim>			
		
		
		GROUP BY v.`ERR`, v.`ISP`, v.`CT`, v.`TR`
		
		ORDER BY v.`CT` DESC, v.`TR` ASC) a
		
		INNER JOIN 
		(SELECT v.`ERR`, v.`ISP`, v.`CT`, v.`TR`, SUM(v.`TOTAL`) AS total FROM `VDN_AVLB_MINUTELY_FULLY` v
		
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="dCode != null and dCode != ''">
				v.`ERR` = #{dCode}
			</if>
			
			<include refid="GETAVLB_WHERE_CONDITION" />				
		</trim>	
		
		GROUP BY v.`ERR`, v.`ISP`, v.`CT`, v.`TR`
		
		ORDER BY v.`CT` DESC, v.`TR` ASC) b
		
		ON a.ct = b.ct
		AND a.tr= b.tr
		AND a.isp = b.isp	
	
	</select>
	
	
	
	
	<select id="getAvlbMinutelyForGrid"
		parameterType="avlbMinutelyModel" resultType="avlbMinutelyGridModel" >
		SELECT 
		  `ISP`,
		  `CT`,
		  `TR`,
		  `CAT`,
		  `A`,
		  `B`,
		  `C`,
		  `C2`,
		  `C3`,
		  `C4`,
		  `D`,
		  `D2`,
		  `D3`,
		  `E`,
		  `F`,
		  `F2`,
		  `G`,
		  `G2` 
		FROM
        	`VDN_AVLB_MINUTELY_FULLY_REPORT`
        	
        <include refid="GETAVLB_FRO_GRID_WHERE_CONDITION" /> 
		
		ORDER BY `CT` DESC, `TR` ASC

		LIMIT #{start}, #{limit} ;		

	</select>
	
	<select id="getAvlbMinutelyForGridTotal" parameterType="avlbMinutelyModel" resultType="int">
		SELECT 
		  count(*) 
		FROM
		  `VDN_AVLB_MINUTELY_FULLY_REPORT`
		  
		  <include refid="GETAVLB_FRO_GRID_WHERE_CONDITION" />
	</select>

	<select id="getAvlbSummary" parameterType="avlbMinutelyModel" resultType="avlbMinutelyGridModel" >
		SELECT 
		  v.`CT`,
		  v.`TR`,
		  SUM(v.`A`) AS a,
		  SUM(v.`B`) AS b,
		  SUM(v.`C`) AS c,
		  SUM(v.`E`) AS e 
		FROM
		  `VDN_AVLB_MINUTELY_FULLY_REPORT` v 
		  
		  <include refid="GETAVLB_FRO_GRID_WHERE_CONDITION" /> 
		  
		GROUP BY v.`CT`,
		  v.`TR` 
		ORDER BY v.`CT` DESC,
		  v.tr ASC 	
	</select>	

	<sql id="GETAVLB_WHERE_CONDITION">
		<if test="isp != null and isp != ''">
			AND v.`ISP` = #{isp}
		</if>
		<if test="country != null and country != ''">
			AND v.`COUNTRY` like "%" #{country} "%"
		</if>
		<if test="city != null and city != ''">
			AND v.`CITY` like "%" #{city} "%"
		</if>
		
		<if test="category != null and category.length() == 2">
			AND v.`CAT` like #{category} "%"
		</if>
		<if test="category != null and category.length() > 2">
			AND v.`CAT` = #{category}
		</if>
					
		<if test="daily != null">
			AND v.`CT` IN 
			<foreach collection="daily" item="ct" open="(" separator="," close=")">
				#{ct} 
			</foreach>
		</if>	
	</sql>
	
	<sql id="GETAVLB_FRO_GRID_WHERE_CONDITION">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="kaFilter != null and kaFilter != ''">
				<![CDATA[b / a]]> 
				
				<choose>
					<when test="kaFilter == 'lt'">
						&lt;
					</when>
					<when test="kaFilter == 'eq'">
						=
					</when>
					<when test="kaFilter == 'gt'">
						&gt;
					</when>
				</choose>
				
				 #{ka}
			</if>
			<if test="kbFilter != null and kbFilter != ''">
				AND <![CDATA[(1 - c / b)]]> 
				<choose>
					<when test="kbFilter == 'lt'">
						&lt;
					</when>
					<when test="kbFilter == 'eq'">
						=
					</when>
					<when test="kbFilter == 'gt'">
						&gt;
					</when>
				</choose>

				#{kb}
			</if>
			<if test="kcFilter != null and kcFilter != ''">
				AND  <![CDATA[c / b]]> 
				
				<choose>
					<when test="kcFilter == 'lt'">
						&lt;
					</when>
					<when test="kcFilter == 'eq'">
						=
					</when>
					<when test="kcFilter == 'gt'">
						&gt;
					</when>
				</choose>
				
				#{kc}
			</if>
			
			<if test="category != null and category.length() == 2">
				AND v.`CAT` like #{category} "%"
			</if>
			<if test="category != null and category.length() > 2">
				AND v.`CAT` = #{category}
			</if>
			
			<if test="daily != null">
				AND `CT` IN 
				<foreach collection="daily" item="ct" open="(" separator="," close=")">
					#{ct} 
				</foreach>
			</if>
		</trim>
	</sql>
	
</mapper>