<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- changes from the defaults -->
       <setting name="lazyLoadingEnabled" value="false" />
       <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
    
    	<typeAlias type="com.ifeng.vdn.dashboard.orm.domain.Combobox" alias="combobox" />
    	<typeAlias type="com.ifeng.vdn.dashboard.orm.domain.ServerBase" alias="serverBase" />
    	<typeAlias type="com.ifeng.vdn.dashboard.orm.domain.ServerRoom" alias="serverRoom" />
    	<typeAlias type="com.ifeng.vdn.dashboard.orm.domain.IPServerJournal" alias="serverJournal" />
		<typeAlias type="com.ifeng.vdn.dashboard.orm.domain.GlobalVariables" alias="globalVariables" />
    	<typeAlias type="com.ifeng.vdn.dashboard.orm.domain.IPJournal" alias="ipJournal" />
        <typeAlias type="com.ifeng.vdn.dashboard.orm.domain.IPImportReport" alias="ipImportReport" />
        <typeAlias type="com.ifeng.vdn.dashboard.orm.domain.ErrGroup" alias="errGroup" />
        
        
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.AvlbMinutelyGridModel" alias="avlbMinutelyGridModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.FluentMinutelyModel" alias="fluentMinutelyModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.AvlbMinutelyModel" alias="avlbMinutelyModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.AvlbDailyModel" alias="avlbDailyModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.ServerBaseModel" alias="serverBaseModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.ServerRoomModel" alias="serverRoomModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.IPServerJournalModel" alias="serverJournalModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.IPImportReportModel" alias="ipImportReportModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.IPModel" alias="ipModel" />
        <typeAlias type="com.ifeng.vdn.dashboard.web.model.IPJournalModel" alias="ipJournalModel" />
        
    </typeAliases>
</configuration>